.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Container */
.rectangle{
  height: 600px;
  border-radius: 15px;
  background-color: #ffffffff;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}

/* Button */
.btn-style{
  width: 200px;
  border-radius: 8px;
  color: white;
  background-color: #224f61;
}

/* Image Avtar */

.img-avtar {
 height: 60px;
 width: 60px;
 border-radius: 50%;
}

.mt-0{
  margin-top: 0;
}